body {
    background-color: rgb(218, 80, 38);
}


pageStyles {
  color: "#232129";
  padding: 96;
  font-family:  "-apple-system, Roboto, sans-serif, serif";
};

headingStyles {
  margin-top: 0;
  margin-bottom: 64;
  max-width: 320,
};
